.standings-wrapper {
    width: 30%;
    margin: auto;
}

th > img {
    height: 25px;
    display: inline;
}

.standing-teams {
    text-align: left;
    padding: 0 0 0 10px;
    min-width: 300px;
}

thead {
    background-color: #37003c;
    color: white;
}

td {
    text-align: center;
}

th {
    min-width: 30px;
}

tbody {
    padding-top: 20px;
}

tfoot {
    border-top: 1px solid darkgray;
}

.flex {
    padding: 5px 10px 5px 10px;
}

h2, h3, h4 {
    padding: 0 0 0 10px;
}

.glossary-wrapper {
    display: flex;
}

.glossary-2 {
    margin: auto;
}

.standings-table {
    margin: auto;
    width: 100%;
}